
/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    min-width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* html, body {
    background-color: #f9f9f9;
    height: 100%;
    margin: 0;
    padding: 0;
} */

/* main {
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
} */

main {
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}

.loginSignupWrapper {
    background-color: #07402B;
    width: 100%;
    height: auto;
    display: flex;
}

.introBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #07402B;
}



/* DASHBOARD */

.dashboardCard {
    background-color: #f9f9f9;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 80vh;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cardOne {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
}

.cardTwo {
    grid-column: 2/3;
    grid-row: 1/4;
    background-color:#f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
}

.cardThree {
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
}

.cardFour {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
}

.bold {
    font-weight: 600;
    color: #07402B;
}

.pieChart {
    width: 12rem;
    height: auto;
}

.bentoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.bentoTitle img {
    width: 50px;
    height: auto;
    filter: invert(21%) sepia(63%) saturate(543%) hue-rotate(90deg) brightness(85%) contrast(91%);
}

.bentoTitle h2 {
    margin-bottom: 0;
    padding-left: 1rem;
    color: #07402B;
}


/* BOOK A COACH - ALL COACHES */

.coachBox {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.left {
    width: 70%;
    padding: 2rem;
}

.right {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 2rem;
    padding: 2rem;
    background-color: #0d7a52;
    color: #f9f9f9;
}

.coachForm form {
    padding: 1.4rem 0;
}

.coachBox h2 {
    color: #07402B;
}

.coachBox h3 {
    font-size: 1.4rem;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    filter: invert(21%) sepia(63%) saturate(543%) hue-rotate(90deg) brightness(85%) contrast(91%);
}

.coachFormDate {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}


/* LOGIN AND SIGNUP */

body .loginSignupGrid {
    background-color: #07402B;
}

.loginSignupGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.loginSignupLeft {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
}

.loginSignupRight {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    color: #f9f9f9;
}

.loginSignupRight form {
    font-size: 1.4rem;
}

.formElement {
    margin: 2rem 0;
}

.loginSignupOption a {
    margin: 0 1.2rem;
    border: 2px solid #f9f9f9;
    font-size: 1.4rem;
}
.loginSignupOption p {
    color: #f9f9f9;
    margin-top: 2rem;
    font-size: 1.2rem;
}



/* BOOK COACHING PAGES */

.bookCoach {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80vh;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.initialCoach {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;

}

.nutritionCoach {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.fitnessCoach {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.recoveryCoach {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.coachTag {
    display: block;
    text-decoration: none;
    color: inherit;
}

.initialCoach:hover, .nutritionCoach:hover, .fitnessCoach:hover, .recoveryCoach:hover {
    background-color: #f9f9f9;
    transform: scale(1.03);
}

.bookCoach {
    height: auto;
}

.bookCoach h2 {
    text-align: center;
    color: #07402B;
}

.bookCoach img {
    filter: invert(21%) sepia(63%) saturate(543%) hue-rotate(90deg) brightness(85%) contrast(91%);
}

.coachIcon {
    margin: 2rem 0;
    text-align: center;
}


/* COACH CHECK */

.appointmentDetails {
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 4rem;
}


.coachCheckDate, .coachCheckNotes {
    margin: 1rem 0;
}


/* ALL COACH APPOINTEMTNS */

table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

td, th {
    border: 1px solid #999797;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}


/* Personal Page */

.profileBox, .nutritionBox, .fitnessBox, .loginBox, .signUpBox {
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 2rem;
}


/* Nutrition Page Overview */

.nutritionBox, .fitnessBox {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.barChart {
    width: 100%;
    height: auto;
    position: relative;
}

canvas {
    max-width: 100% !important;
    height: auto !important;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.statOne {
    grid-column: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.statTwo {
    grid-column: 2/3;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.statThree {
    grid-column: 3/4;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.statFour {
    grid-column: 4/5;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.statCard {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.statCard h3 {
    font-size: 1.4rem;
}

.statCard p {
    font-size: 3rem;
}

.overText {
    font-size: 1rem !important;
}


/* Fitness page overview */

.statsFitness {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.fStatOne {
    grid-column: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.fStatTwo {
    grid-column: 2/3;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.fStatThree {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.fStatFour {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.fStatFive {
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}

.fStatSix {
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: #f9f9f9;
    box-shadow:   rgba(7, 64, 43, 0.9) 0px 6px 12px 0px, rgba(0, 0, 0, 0.3) 0px 3px 7px -2px;
    border: solid #f9f9f9 1px;
    border-radius: 20px;
    padding: 1rem;
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 1048px) {
    .dashboardGrid {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1296px) {
    .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .statOne {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .statTwo {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .statThree {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .statFour {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media screen and (max-width: 1416px) {
    .coachBox {
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
}


@media screen and (max-width: 900px) {
    .loginSignupGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }
    .loginSignupLeft {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 665px) {
    .stats {
        display: flex;
        flex-direction: column;
    }
}
    
